* { 
 font-family: 'Roboto', sans-serif;
}

html, body {
            height: 100%;
            margin: 0;
    background-color:#E2E2E2;
    min-width:410px;
}

#wrapper {
            min-height: 100%; 
}


/* Tablet Styles */
@media only screen and (max-width: 959px) {
    
    .container-big{ 
        width:100%;
        height:100%;
        margin-left:auto;
        margin-right:auto;   
        display:block;    
}    
    .container-small{
      background-color: #fff;
      border-radius: 15px;
      text-align: center;
      align-content: center;
      width:96%;    
      height:47.5%; 
      min-height: 47.5%;
      margin-left:12px;
      margin-right:8px;
      margin-top:12px;
      margin-bottom:8px;
     position:relative;
      float:left;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    #leyenda1 .button2 {
        font-size:3.2vw !important;        
    }
    #leyenda2 .button2 {
        font-size:1.5vw !important;        
    }
    #letra1{
        font-size:6vw !important;        
    }
    #letra1_1{
        font-size:6vw !important;        
    }
    #letra2{
        font-size:6vw !important;        
    }
    
    ul li label{
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 0.8em;
        padding: 55px 25px 25px 24px;
        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
}
}

@media only screen and (min-width: 960px) {
    
    .container-big{ 
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;    
    display:block;    
}
    .container-small{
    max-width:1080px;
    width:48.5%;    
    background-color: #fff;
    border-radius: 15px;
    height:47%; 
	min-height: 47%;
    margin-left:0.8%;
    margin-right:0.5%;
    margin-top:0.8%;
    margin-bottom:0.5%;
        position:relative;
    float:left; 
    text-align: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}
    ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 0.8em;
  padding: 30px 25px 25px 55px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
}

@media only screen and (max-width: 1280px) {
    ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 0.8em;
  padding: 52px 25px 25px 20px;
  margin: 12px auto;
        margin-left:3px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
    
}



/*Sub-menu*/

.submenu{
    width:100%;
    margin-top:15px;
    height:75px;
}

.drop{
    float:right;
    margin-right:15px;
    margin-top:5px;
}

.b1{
    float:left;
    margin-left:15px;
}

.container-p1{
    width:95%;
    background-color:white;
    height:60%;
	min-height: 60%;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
	text-align: center;
}

.container-p2{
    width:95%;
    background-color:white;
    height:80%;
    margin-left:auto;
    margin-right:auto;
	display:block;
	align-content: center;
	text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container-radios{
    display: block;
    position: relative;
    margin-right:auto;
    margin-left:auto;
    height: 10px;
    width: 50%;
    margin-top:-55px;    
}

.container-radios2{
    display: block;
    position: relative;
    margin-right:auto;
    margin-left:auto;
    height: 10px;
    width: 50%;
    margin-top:-55px;    
}


#pie1{
	margin:auto;
	width:49%;
	float:left;
    
}

#pie2{
	margin:auto;
	width:49%;
	float:left;
}

#pie3{
	margin:auto;
	width:49%;
	float:left;
}

#pie4{
	margin:auto;
	width:49%;
	float:left;
}

#scatter1{
    width:60%;
    margin-left:30px;
    float:left;
    height: 80%;
}

#leyendas{
    margin-top:18px;
    margin-left:4.8%;
    width:15%;
    float:left;
    height:150px;
    min-height:150px;
    text-align: center;
    display: inline-block;
}

#leyenda1{ 
    background-color: #E2E2E2;
    box-shadow: 1px 1px 4px #888888;
}

#leyenda2{   
    margin-top:10px;
    background-color: #99C0DB; 
    box-shadow: 2px 2px 4px #888888;
}

#leyenda1 .button2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width:100%;
    min-height:55px;
    font-size: 2vw;
    outline: none;
    color: #FFF;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

#leyenda2 .button2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width:100%;
    min-height:55px;
    font-size: 0.8vw;
    outline: none;
    color: #FFF;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

.button2 span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button2:hover{
    cursor:pointer;
}

#scatter1 .dimple-meta{
    transition: all 0.8s ease-in-out; 
}

#scatter1 .dimple-cumplimiento{
    transition: all 0.7s ease-in-out; 
}
.button2:before,
.button2:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button2:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button2:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button2:hover span,
.button2:active span {
    opacity: 0;
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

#leyenda1 .button2:hover:before,
#leyenda1 .button2:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    margin-top:-5px;
}

#leyenda2 .button2:hover:before,
#leyenda2 .button2:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    margin-top:18px;
}

/* 
  We hide :before pseudo-element on :active
*/

.button2:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

#letra1{
    color:#fff;
    font-size:3vw;
}

#letra1:hover{
    display: block;
}

#letra1_1{
    display: none;
    color:#fff;
    font-size:3vw;
}

#letra1_1:hover{
    display: block;
}

#letra2{
    color:#fff;
    font-size:3vw;
}

.fixletter{
    margin-top:5px;
}


/* Dropdown*/

.dropbtn {
    
    background:rgba(0,0,0,0);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right:0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #008DB1;
}

/* Botón */

.button {
    background-color: #008DB1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.button1 {
    border-radius: 4px;    
    box-shadow: 2px 4px 10px #888888;
}

.button1:hover{
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;    
    box-shadow: 2px 4px 5px #888888;
}

button1:active{
    box-shadow: none;
}

/* Radio Buttons*/

h2 {
	color: #AAAAAA;
}

.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 25%;
  height: 15px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li:hover label{
	color: #99C0DB;
}

ul li .check{
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 35px;
  left: 25px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 2px solid #99C0DB;
    
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 22px;
  width: 22px;
  top: -1px;
  left: -1px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 2px solid #008DB1;
}

input[type=radio]:checked ~ .check::before{
  background: #008DB1;
}

input[type=radio]:checked ~ label{
  color: #008DB1;
}

/* Gráficos */

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#barras1 { fill: #99C0DB; }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    margin-left:-10px;
    margin-right:15px;    
}

.bar {
  fill: #99C0DB;
  transition: all .3s ease-in-out;
}

.bar:hover {
  fill: #008DB1;
  transform: scaleX(1.13);
    cursor:pointer;
}

circle:hover{
    cursor:pointeR;
}
/*Dimple graphs*/

.dimple-custom-axis-line{
   visibility:hidden; 
}

.dimple-title{
    visibility:hidden;
}

.dimple-axis-y{
    visibility:hidden;
}

.dimple-meta{
    transform: translate(-10px, 0);
}

.dimple-cumplimiento{
    transform: translate(10px, 0);
}

.tick{
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}


.domain{
    visibility: hidden;
}

#barras1 .tick line{
    visibility: hidden;
}

.donutsel { transition: all .3s ease-in-out; }
.rotate { transition: all .5s ease-in-out;}

.donutsel:hover { 
    cursor:pointer;
    transform: scale(1.25);
}

.donutsel:hover .rotate { 
    transform: rotate(180deg);
}

.arc{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dimple-line {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 1.2s linear forwards;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }


